@font-face {
    font-family: "Muller";
    src: local("Muller-Regular"),
        url("../fonts/MullerRegular.woff2") format("woff2"),
        url("../fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Mulle-Medium"),
        url("../fonts/MullerMedium.woff2") format("woff2"),
        url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Regular-Italic"),
        url("../fonts/MullerRegularItalic.woff2") format("woff2"),
        url("../fonts/MullerRegularItalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Bold"),
        url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Light-Italic"),
        url("../fonts/MullerLightItalic.woff2") format("woff2"),
        url("../fonts/MullerLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --gap: 30px;
    --dark: #121723;
    --dark-grey: #292E39;
    --medium-grey: #A1A6B4;
    --grey: #D2D5DD;
    --light-grey: #E6E8EC;
    --dark-gold: #BB973E;
    --gold: #F0D288;
    --blue: #0039A6;
    --red: #D52B1E;
    --dark-purple: #4F28A5;
    --purple: #6D31EE;
    --light-purple: #AA9DFA;
    --pre-wite: #F5F6F7;
    --white: #FFF;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

body {
    min-width: 320px;
    font-family: "Muller", sans-serif;
    font-weight: 400;
}

/* GLOBAL */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
}

.btn {
    padding: 20px 55px;
    border-radius: 40px;
    background-color: var(--purple);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn,
.btn:active,
.btn:focus {
    outline: none;
}

.flex {
    display: flex;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    max-width: 1310px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}

.maintitle {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: var(--dark);
}

.maintitle-italic {
    font-style: italic;
    font-weight: 400;
}

.title {
    max-width: 1110px;
    margin: 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: var(--dark);
}

.subtitle {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 3px;
}

.section-descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: var(--dark);
}

/* STATES */

.btn-state:hover {
    background-color: var(--light-purple);
}

.btn-state:focus {
    outline: solid 2px var(--dark-purple);
    background-color: var(--light-purple);
}

.btn-state:active {
    outline: none;
    background-color: var(--dark-purple);
}

.link {
    position: relative;
    transition: color 0.3s ease-in-out;
    z-index: 5;
}

.link:hover {
    color: var(--purple);
}

.link:focus {
    color: var(--white);
}

.link:focus::before {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 7px);
    top: -4px;
    left: -10px;
    z-index: -1;
    background-color: var(--light-purple);
    transition: background-color 0.3s ease-in-out;
}

.link:active {
    outline: none;
    color: var(--dark-purple);
}

/* HEADER */

.header {
    padding-top: 28px;
    padding-bottom: 31px;
}

.header__container {
    align-items: center;
}

.header__logo {
    margin-right: 80px;
    flex-shrink: 0;
    font-size: 0;
}

.header__logo:focus {
    outline: 1px solid var(--purple);
    outline-offset: 5px;
}

.header__nav {
    margin-right: 20px;
}

.header__list {
    flex-wrap: wrap;
    column-gap: 52px;
    row-gap: 25px;
}

.header__item {
    font-size: 20px;
    line-height: 20px;
}

.header__item:not(:last-child) {
    margin-right: 7px;
}

.header__search {
    margin-left: auto;
    stroke: var(--purple);
    transition: stroke 0.3s ease-in-out;
}

.header__search:hover {
    stroke: var(--light-purple);
}

.header__search:focus {
    outline: 1px solid var(--purple);
    outline-offset: 5px;
    stroke: var(--light-purple);
}

.header__search:active {
    stroke: var(--dark-purple);
}

/* HERO */

.hero {
    padding-top: 30px;
    padding-bottom: 40px;
}

.hero__container {
    justify-content: space-between;
    align-items: center;
}

.hero__container::after {
    content: "";
    width: 354px;
    height: 381px;
    background-image: url("../img/hero-microphone.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 354px;
}

.hero__wrapper {
    padding-top: 67px;
    padding-bottom: 54px;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    max-width: 633px;
    margin: 0;
    margin-bottom: 13px;
}

.hero__descr {
    max-width: 635px;
    margin-bottom: 45px;
    line-height: 24px;
}

.hero__btn {
    width: 245px;
    padding: 20px 54px;
}

/* PODCAST */

.podcast {
    padding-top: 95px;
    padding-bottom: 93px;
    background-color: var(--light-grey);
}

.podcast__titile {
    margin-bottom: 29px;
}

.podcast__link:focus::before {
    width: calc(100% + 10px);
    height: 26px;
    top: -3px;
    left: -5px;
}

.podcast__list {
    --pod-col: 2;
    flex-wrap: wrap;
    gap: var(--gap);
}

.podcast__item {
    width: calc(100% / var(--pod-col) - (var(--gap) * (var(--pod-col) - 1)) / var(--pod-col));
    position: relative;
    background-color: var(--white);
}

.podcast__block {
    padding: 40px 30px;
    align-self: center;
}

.podcast__time {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
}

.podcast__subtitle {
    margin-bottom: 2px;
}

.podcast__date {
    padding: 3px 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--light-grey);
    font-size: 10px;
    line-height: 10px;
}

.podcast__descr {
    line-height: 16px;
    color: var(--medium-grey);
}

.podcast__item::before {
    content: "";
    left: 0;
    min-width: 112px;
    background-repeat: no-repeat;
    background-size: cover;
}

.podcast__item_euro::before {
    background-image: url("../img/podcast-euro.jpg");
}

.podcast__item_music::before {
    background-image: url("../img/podcast-about-music.jpg");
}

.podcast__item_people::before {
    background-image: url("../img/podcast-people.jpg");
}

.podcast__item_africa::before {
    background-image: url("../img/podcast-africa.jpg");
}

.podcast__item_about::before {
    background-image: url("../img/podcast-about-all.jpg");
}

.podcast__item_color::before {
    background-image: url("../img/podcast-color.jpg");
}

.podcast__item_sound::before {
    background-image: url("../img/podcast-sound.jpg");
}

.podcast__item_rules::before {
    background-image: url("../img/podcast-rules.jpg");
}

/* BROADCAST */

.broadcast {
    padding-top: 95px;
    padding-bottom: 94px;
}

.broadcast__container {
    position: relative;
}

.broadcast__left-side {
    margin-right: var(--gap);
    flex-direction: column;
    justify-content: space-between;
}

.broadcast__title {
    min-width: 25%;
}

.broadcast__title-768 {
    display: none;
}

.broadcast__archive-768 {
    display: none;
}

.broadcast__list {
    width: 74.3%;
    margin-left: auto;
    padding-top: 12px;
    flex-wrap: wrap;
    gap: var(--gap);
    --columns: 3;
}

.broadcast__item {
    width: calc((100% - (var(--gap) * (var(--columns) - 1))) / var(--columns));
    min-height: 260px;
    padding-top: 148px;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
}

.broadcast__text-block {
    height: 100%;
    padding: 20px 15px 16px;
    border: solid 1px var(--light-grey);
    background-color: var(--white);
}

.broadcast__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
}

.broadcast__announce {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 12px;
}

.broadcast__link {
    padding-right: 30px;
    position: relative;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: center right;
}

.broadcast__arrow {
    position: absolute;
    top: 2px;
    fill: var(--dark);
}

.broadcast__arrow_hover {
    opacity: 0;
}

.broadcast__link:hover {
    fill: var(--purple);
}

.broadcast__link:hover .broadcast__arrow_hover {
    fill: var(--purple);
    opacity: 1;
}

.broadcast__link:hover .broadcast__arrow_normal {
    opacity: 0;
}

.broadcast__link:focus::before {
    width: calc(100% + 5px);
    height: 20px;
    top: -3px;
    left: -2px;
}

.broadcast__link:focus .broadcast__arrow_normal {
    fill: var(--white);
    transition: fill 0.3s ease-in-out;
}

.broadcast__link:active::before {
    width: 0;
}

.broadcast__link:active {
    color: var(--dark-purple);
}

.broadcast__link:active .broadcast__arrow_normal {
    opacity: 0;
}

.broadcast__link:active .broadcast__arrow_hover {
    opacity: 1;
    fill: var(--dark-purple);
}

.broadcast__item_about {
    background-image: url("../img/broadcast-about.jpg");
}

.broadcast__item_grafo {
    background-image: url("../img/broadcast-grafo.jpg");
}

.broadcast__item_rome {
    background-image: url("../img/broadcast-not-rome.jpg");
}

.broadcast__item_erudit {
    background-image: url("../img/broadcast-erudit.jpg");
}

.broadcast__item_era {
    background-image: url("../img/broadcast-era.jpg");
}

.broadcast__item_thoughts {
    background-image: url("../img/broadcast-thoughts.jpg");
}

.broadcast__archive {
    position: absolute;
    bottom: 1px;
    max-width: 255px;
    padding-top: 114px;
    background-image: url("..//img/broadcast-mic.png");
    background-repeat: no-repeat;
    background-position: left top;
}

.broadcast__btn {
    padding: 10px 55px;
    margin-bottom: 12px;
    background: none;
    outline: solid 2px var(--dark);
    border-radius: 77px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: var(--dark);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.broadcast__btn:hover {
    outline: none;
    color: var(--white);
    background-color: var(--purple);
}

.broadcast__btn:focus {
    color: var(--white);
    outline: solid 2px var(--dark-purple);
    background-color: var(--light-purple);
}

.broadcast__btn:active {
    outline: none;
    background-color: var(--dark-purple);
}

.broadcast__descr {
    line-height: 24px;
    color: var(--medium-grey);
}

/* GUEST */

.guest {
    padding-top: 95px;
    padding-bottom: 94px;
    background-color: var(--dark);
}

.guest__title {
    margin-bottom: 12px;
    color: var(--white);
}

.guest__pre-lead {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--medium-grey);
}

.guest__lead {
    max-width: 825px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 32px;
    color: var(--medium-grey);
}

.guest__list {
    flex-wrap: wrap;
    gap: 50px;
}

.guest__pic {
    display: block;
    margin-right: var(--gap);
}

.guest__info {
    width: 458px;
    flex-direction: column;
}

.guest__subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: var(--white);
}

.guest__descr {
    color: var(--medium-grey);
}

.guest__descr:last-of-type {
    margin-bottom: 30px;
}

.guest__btn {
    padding: 11px 19px;
    width: 159px;
    margin-top: auto;
    border-radius: 77px;
    background: none;
    outline: solid 2px var(--light-purple);
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: var(--light-purple);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guest__btn:hover {
    outline: none;
    color: var(--white);
    background-color: var(--light-purple);
}

.guest__btn:focus {
    outline: none;
    color: var(--white);
    background-color: var(--purple);
}

.guest__btn:active {
    background-color: var(--dark-purple);
}

/* PLAYLIST */

.playlist {
    padding-top: 95px;
    padding-bottom: 92px;
}

.playlist__container {
    gap: var(--gap);
    --pl-col: 4
}

.playlist__column {
    max-width: 350px;
    margin-bottom: 13px;
    flex-direction: column;
}

.playlist__title {
    margin-bottom: 12px;
}

.playlist__descr {
    line-height: 22px;
    color: var(--medium-grey);
}

.playlist__copy {
    padding-bottom: 36px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    color: var(--medium-grey);
    background-image: url("..//img/playlist-18+.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

.playlist__list {
    width: calc(100% / var(--pl-col) * (var(--pl-col) - 1));
    padding-top: 13px;
    flex-wrap: wrap;
    gap: var(--gap);
    row-gap: 29px;
}

.playlist__item {
    width: calc(100% / var(--pl-col) - (var(--gap) * (var(--pl-col) - 1)) / var(--pl-col));
    flex-direction: column;
}

.playlist__pic:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
}

.playlist__pic_rus:before {
    background-image: url("../img/playlist-country-rus.svg");
}

.playlist__pic_eng:before {
    background-image: url("../img/playlist-country-eng.svg");
}

.playlist__text-block {
    height: 100%;
    width: 100%;
    padding: 16px 16px 12px;
    outline: solid 1px var(--light-grey);
}

.playlist__pic {
    position: relative;
    height: auto;
    line-height: 0;
}

.playlist__subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.playlist__link {
    font-size: 12px;
    line-height: 12px;
    color: var(--medium-grey);
}

/* ADV */

.adv {
    padding-top: 94px;
    padding-bottom: 134px;
    background-color: var(--dark-grey);
}

.adv__container {
    padding-left: 95px;
    position: relative;
    gap: var(--gap);
}

.adv__img {
    display: block;
    width: 100%;
}

.adv__info {
    max-width: 445px;
}

.adv__title {
    position: relative;
    margin-bottom: 49px;
    color: var(--gold);
}

.adv__descr {
    margin-bottom: 12px;
    color: var(--white);
}

.adv__descr:last-of-type {
    margin-bottom: 27px;
}

.adv__title::after {
    width: 100%;
    position: absolute;
    content: "";
    display: block;
    padding-bottom: 30px;
    background-image: url("../img/adv-decor.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
}

.adv__price {
    margin-bottom: 30px;
    display: block;
    font-size: 30px;
    font-weight: 500;
    color: var(--white);
}

.adv__btn {
    padding: 24px 12px 21px 41px;
    position: relative;
    border-radius: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left 10px center;
    outline: solid 2px var(--gold);
    font-weight: 500;
    line-height: 20px;
    color: var(--gold);
    transition: background-color 0.3s ease-in-out, outline-color 0.3s ease-in-out, color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.adv__shop {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    left: 13px;
    top: 22px;
}

.adv__market {
    fill: var(--dark);
    transition: fill 0.3s ease-in-out;
}

.adv__market-bckg {
    fill: var(--gold);
    transition: fill 0.3s ease-in-out;
}

.adv__btn:hover {
    outline: none;
    color: var(--dark);
    background-color: var(--gold);
}

.adv__btn:hover .adv__market {
    fill: var(--gold);
}

.adv__btn:hover .adv__market-bckg {
    fill: var(--dark);
}

.adv__btn:focus {
    outline: solid 2px var(--gold);
    color: var(--dark);
    background-color: var(--dark-gold);
}

.adv__btn:focus .adv__market {
    fill: var(--dark);
}

.adv__btn:focus .adv__market-bckg {
    fill: var(--gold);
}

.adv__btn:active {
    outline: none;
    background-color: var(--dark-gold);
}

.adv__btn:active .adv__market {
    fill: var(--dark-gold);
}

.adv__btn:active .adv__market-bckg {
    fill: var(--dark);
}

/* ABOUT */

.about {
    padding-top: 96px;
    padding-bottom: 89px;
    background-color: var(--dark);
    --ab-col: 4;
}

.about__text {
    width: 100%;
    max-width: 634px;
    margin-bottom: var(--gap);
}

.about__wrap {
    position: relative;
}

.about__wrap::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("..//img/about-decor-spiral.svg") 70% no-repeat,
        url("..//img/about-decor-dawn.svg") 100% no-repeat;
    top: 0;
}

.about__title {
    margin-bottom: 12px;
    color: var(--white);
}

.about__descr {
    max-width: 634px;
    font-size: 20px;
    line-height: 32px;
    color: var(--medium-grey);
}

.about__descr_bold {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 30px;
}

.about__list {
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: var(--gap);
}

.about__item {
    width: calc(100% / var(--ab-col) - (var(--gap) * (var(--ab-col) - 1)) / var(--ab-col));
    flex-direction: column;
}

.about__img {
    width: 100%;
    margin-bottom: 25px;
}

.about__subtitle {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--white);
}

.about__teatcher {
    line-height: 24px;
    color: var(--medium-grey);
}

.form__input-block {
    margin-bottom: 27px;
    flex-wrap: wrap;
    gap: 30px;
}

.form__input {
    min-width: 445px;
    padding: 23px 30px;
    background-color: transparent;
    border-radius: 30px;
    outline: solid 1px var(--white);
    font-size: 20px;
    line-height: 20px;
    color: var(--medium-grey);
    transition: background-color 0.3s ease-in-out;
}

.form__input:hover {
    background-color: var(--dark-grey);
}

.form__input:focus {
    outline: solid 1px var(--light-purple);
}

.form__input:active {
    color: var(--white);
    outline: solid 1px var(--white);
}

.form__input_textarea {
    width: 100%;
    max-width: 920px;
    min-height: 149px;
    padding: 30px;
    resize: none;
}

.form__input_data {
    border-radius: 40px;
}

.form__btn {
    padding: 27px 55px;
    margin-bottom: 29px;
    display: block;
    font-weight: 500;
    line-height: 20px;
}

.form__agree {
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.form__agree-input {
    position: absolute;
    appearance: none;
}

.form__agree-text {
    position: relative;
    padding-left: 22px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: var(--white);
}

.form__agree-text::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--white);
}

.form__agree-text::after {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 14px;
    height: 14px;
    background-image: url("..//img/form-check.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form__agree-input:checked+.form__agree-text::after {
    opacity: 1;
}

.form__agree-input:focus+.form__agree-text {
    outline-offset: 5px;
    outline: 1px solid var(--light-purple);
}

/* FOOTER */

.footer {
    padding-top: 95px;
    padding-bottom: 30px;
    background-color: var(--dark-grey);
}

.footer__container {
    padding-right: 80px;
    margin-bottom: 84px;
    justify-content: space-between;
    --ft-col: 3;
    --ft-gap: 104px;
}

.footer__logo {
    margin-bottom: 20px;
    display: block;
    font-size: 0;
}

.footer__logo:focus {
    outline: 1px solid var(--purple);
    outline-offset: 5px;
}

.footer__icon-group {
    max-width: 158px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.footer__icon svg {
    width: 24px;
    fill: var(--gold);
    transition: fill 0.3s ease-in-out;
}

.footer__icon:not(:last-child) {
    margin-right: 21px;
}

.footer__icon svg {
    fill: var(--grey);
}

.footer__icon:hover svg {
    fill: var(--purple);
}

.footer__icon:focus svg {
    fill: var(--light-purple);
}

.footer__icon:active svg {
    fill: var(--dark-purple);
}

.footer__list {
    column-gap: var(--ft-gap);
    column-count: 3;
}

.footer__item {
    width: calc(100% / var(--ft-col) - (var(--ft-gap) * (var(--ft-col) - 1)) / var(--ft-col));
    line-height: 32px;
    color: var(--white);
}

.footer__link {
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: var(--purple);
}

.footer__link:focus {
    color: var(--light-purple);
}

.footer__link:active {
    color: var(--dark-purple);
}

.footer__copy-wrapper {
    padding-top: 21px;
    background-image: url("..//img/footer_decor.svg");
    background-repeat: repeat-x;
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 17px;
    color: var(--medium-grey);
}